<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon ECSDI</title>
</head>
<body>
    <h1>INSTRUCCIONES PARA USAR EL AGENTE ASISTENTE</h1>
    <h2>/search_products</h2>
    <p>Indicas las restricciones y le das a Buscar. De entre el resultado de los articulos, selecciona <br>
    los que quieras, rellena la informacion, y dale a comprar.</p>
    <h2>/valorar</h2>
    <p>Introduce el nombre de el articulo que quieras valorar. Elige una puntuacion y valora un producto.</p>
    <h2>/devolver</h2>
    <p>Se mostraran todas las compras hechas. Elige la que quieras devolver y dale a devolver.</p>
    <h2>/añadir_producto</h2>
    <p>Rellena la informacion para añadir un producto de tu empresa.</p>
</body>
</html>